@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 
html,body {
   height : 100%;
   width : 100%;
}

@font-face {
   font-family: 'f1';
   src: url('../src/assets/fonts/NBInternationalProBoo.woff2');
}

@font-face {
   font-family: 'f2';
   src: url('../src/assets/fonts/sh.woff2');
}